#server {
#        listen 80;
#        server_name {{bitrix_server_name}} www.{{bitrix_server_name}};
#        access_log      /var/log/nginx/{{bitrix_server_name}}-access.log main;
#        error_log       /var/log/nginx/{{bitrix_server_name}}-error.log;
#        root /var/www/{{bitrix_env_user}}/{{bitrix_server_name}};
#        rewrite ^ https://{{bitrix_server_name}}$request_uri? permanent;
#}
#server {
        #listen 443 ssl http2;
        #server_name www.{{bitrix_server_name}};
        #access_log      /var/log/nginx/{{bitrix_server_name}}-access.log main;
        #error_log       /var/log/nginx/{{bitrix_server_name}}-error.log;
        #ssl_certificate path;
        #ssl_certificate_key path;

	#server_name_in_redirect off;
        #rewrite ^ https://{{bitrix_server_name}}$request_uri? permanent;
#}

server {
        #listen 443 ssl http2;
        listen 80;
	server_name {{bitrix_server_name}};
        access_log      /var/log/nginx/{{bitrix_server_name}}-access.log main;
        error_log       /var/log/nginx/{{bitrix_server_name}}-error.log;
	#ssl_certificate path;
        #ssl_certificate_key path;

        root /var/www/{{bitrix_env_user}}/{{bitrix_server_name}};
        server_name_in_redirect off;

        index index.php index.html;

        client_max_body_size 32M;
        client_body_buffer_size 4M;
	
       
#	if ($request_uri ~ ^(?!/bitrix/)(.*)index\.(?:php)$) {
#       		return 301 $1;
# 	}
 
        location ~* /\.ht  { deny all; }
        location ~* /\.(svn|hg|git|sql) { deny all; }

        location ~* ^/bitrix/(modules|local_cache|stack_cache|managed_cache|php_interface) {
                deny all;
        }
        location ~* ^/upload/1c_[^/]+/ { deny all; }

        location ~* /\.\./ { deny all; }
        location ~* ^/bitrix/html_pages/\.config\.php { deny all; }
        location ~* ^/bitrix/html_pages/\.enabled { deny all; }

        location = /deploy.php {deny all;}
        location = /bitbucket-pipelines.yml {deny all;}
        
        location ~* ^/bitrix/cache/(css/.+\.css|js/.+\.js)$ {
                access_log off;
                expires 30d;
        }

        location ^~ /bitrix/images { limit_except GET {allow 127.0.0.1; deny  all; } expires 30d; }
        location ^~ /bitrix/tmp { limit_except GET {allow 127.0.0.1; deny  all; } expires 30d; }
        
        location ^~ /upload {
                limit_except GET {allow 127.0.0.1; deny  all; }
                location ~ \.php$ {
                        return 444;
                }

                expires 7d;
                access_log off;
                break;
        }

	location /.well-known {
		allow all;
		auth_basic off;
	}

        location / {
        	rewrite ^([^.]*[^/])$ $1/ permanent;
	        try_files       $uri $uri/ @bitrix;
        }
        
        location ~ \.php$ {
                try_files       $uri @bitrix;
                include         fastcgi_params;
                fastcgi_read_timeout 600;
                fastcgi_param   DOCUMENT_ROOT $document_root;
                fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass    127.0.0.1:{{bitrix_php_port}};
        }
        
        location ~* ^/bitrix/admin/.*\.php$ {
                try_files       $uri @bitrixadm;
                fastcgi_read_timeout 600s;
                include         fastcgi_params;
                fastcgi_param   DOCUMENT_ROOT $document_root;
                fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass    127.0.0.1:{{bitrix_php_port}};
        }

        location @bitrix {
                include         fastcgi_params;
                fastcgi_param   DOCUMENT_ROOT $document_root;
                fastcgi_param   SCRIPT_FILENAME $document_root/bitrix/urlrewrite.php;
                fastcgi_pass    127.0.0.1:{{bitrix_php_port}};
        }

        location @bitrixadm{
                include         fastcgi_params;
                fastcgi_read_timeout 150s;
                fastcgi_param   DOCUMENT_ROOT $document_root;
                fastcgi_param   SCRIPT_FILENAME $document_root/bitrix/admin/404.php;
                fastcgi_pass    127.0.0.1:{{bitrix_php_port}};
        }

        location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
        }

        location ~* ^.+\.(jpg|jpeg|gif|png|bmp|ico|swf|svg|js|css|mp3|ogg|midi|wav|mpe?g|avi|zip|gz|tgz|tar|bz2?|rar|doc|xls|exe|pdf|ppt|txt|rtf|otf|eot|woff|ttf|woff2)$ {
                access_log      off;
                expires 7d;
                if_modified_since before;
                limit_except GET HEAD {
                        deny  all;
                }
	}
}

